<section class="content-header">
  <h1>Sobre</h1>
</section>

<section class="content">
    <p class="lead">
      MAdvisers - Controle de Implantações | Aplicação Para registro de apontamentos, despesas, relatórios e agendamento de implantações.
    </p>
    <p class="lead">
      MIT license
    </p>
    <p class="lead">Copyright 2020 Prado Solutions</p>
    <p class="lead">
      Imagens usadas na aplicação por <a href="http://www.freepik.com" target="_blank">freepik.com</a>
    </p>

  </section>