<div class="col-xs-12 col-sm-6" *ngFor="let item of informacoes | async">
  <!-- async no template substitui o método subscribe no component -->
  <div class="box box-solid">
    <div class="box-header with-border">
      <div class="user-block">
        <span class="username">{{item?.numeroFilial}} - {{item?.concessionaria}}</span>
        <span class="username">{{item?.marca}} - {{item?.sistema}}</span>
        <span class="description">{{item?.lougradouro}}, {{item?.numero}} </span>
        <span class="description">{{item?.bairro}} - CEP: {{item?.cep}}</span>
        <span class="description">{{item?.cidade}} / {{item?.uf}}</span>
        <span class="description">{{item?.dataInicio}} - {{item?.dataTermino}}</span>
        <span class="description">{{item?.bairro}} - CEP: {{item?.cep}}</span>
        <span class="description">{{item?.nomeResponsavel}} / {{item?.contatoResponsavel}}</span>
      </div>
    </div>
  </div>

</div>