<div class="col-xs-12 col-sm-6">
  <div class="box box-solid">
    <div class="box-header">
      <i class="fa fa-clock-o"></i>
      <h3 class="box-title">Registro de Marcação de KMs Rodados</h3>
    </div>
    <div class="box-body">
      <div *ngIf="registrosKm.length == 0">
        <p class="text-center">
          Não há registros de KMs rodados
        </p>
      </div>
      <div class="table-responsive" *ngIf="registrosKm.length !== 0">
        <table class="table">
          <tbody>
            <tr>
              <th style="width:20%">Data Início</th>
              <th style="width:17%">Km Início</th>
              <th style="width:20%">Data Final</th>
              <th style="width:17%">Km Final</th>
              <th style="width:11%">Distância</th>
              <th style="width:5%"></th>
              <th style="width:5%"></th>
              <th style="width:5%"></th>
            </tr>
            <tr *ngFor="let km of registrosKm">
              <td>{{km.dataInicio | date:'shortDate' }}</td>
              <td>{{km.kmInicio}}</td>
              <td>{{km.dataFinal !== undefined ? km.dataFinal | date:'shortDate' : 0 }}</td>
              <td>{{km.kmFinal !== undefined ? km.kmFinal : 0 }}</td>
              <td>{{km.kmFinal !== undefined ? km.kmFinal - km.kmInicio : 0}}</td>
              <td><a (click)=finalizarKm(km)><i class="fa fa-calendar-check"></i></a></td>
              <td><a (click)=editarKm(km)><i class="fa fa-edit"></i></a></td>
              <td><a (click)=removerKm(km)><i class="fa fa-ban"></i></a></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <th>Total de KMs Rodados:</th>
              <td class="text-right">{{totalKm}}</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
