<div class="col-xs-12 col-sm-6">
  <div class="box box-solid">
    <div class="box-header">
      <i class="fa fa-clock-o"></i>
      <h3 class="box-title">Registro de Despesas</h3>
    </div>
    <div class="box-body">
      <div *ngIf="registrosDespesas.length == 0">
        <p class="text-center">
          Não há despesas
        </p>
      </div>
      <div class="table-responsive" *ngIf="registrosDespesas.length !== 0">
        <table class="table">
          <tbody>
            <tr>
              <th style="width:25%">Data</th>
              <th style="width:40%">Tipo</th>
              <th style="width:25%">Valor</th>
              <th style="width:10%"></th>
            </tr>
            <tr *ngFor="let despesa of registrosDespesas">
              <td>{{despesa.dataDespesa | date:'shortDate' }}</td>
              <td>{{despesa.tipoDespesa}}</td>
              <td>{{despesa.valorDespesa | currency: 'BRL' : 'symbol' }}</td>
              <td><a (click)=removerDespesa(despesa)><i class="fa fa-ban"></i></a></td>
            </tr>
            <tr>
              <td></td>
              <th>Total das Despesas:</th>
              <td class="text-right">{{totalDespesas | currency: 'BRL' : 'symbol' }}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>