<section class="content-header"></section>

<section class="content">
  <div class="container-ocorrencia jumbotron col-xs-12 col-sm-5">
    <h2>Registro de Marcação KMs Rodados</h2>
    <form [formGroup]="kmForm" novalidate>
      <div class="p-data">
        <label class="data-label">Data Inicio: </label>
        <madv-input-container errorMessage="Obrigatório" label="DataInicio">
          <input
            type="date"
            class="form-control"
            formControlName="dataInicio"
            placeholder="Data Início"
            autocomplete="off"
            [readonly]="situacao === 'Fechado'"
          />
        </madv-input-container>
      </div>
      <madv-input-container
        errorMessage="Obrigatório e maior que 0"
        label="KmInicio"
      >
        <input
          type="number"
          class="form-control"
          formControlName="kmInicio"
          placeholder="Km Início"
          autocomplete="off"
          [readonly]="situacao === 'Fechado'"
        />
      </madv-input-container>
      <div class="p-data">
        <label class="data-label">Data Final:</label>
        <madv-input-container errorMessage="Obrigatório" label="DataFinal">
          <input
            type="date"
            class="form-control"
            formControlName="dataFinal"
            placeholder="Data Final"
            autocomplete="off"
            [readonly]="situacao === 'Novo' || situacao === 'Aberto'"
          />
        </madv-input-container>
      </div>
      <madv-input-container errorMessage="Obrigatório e maior que o Km Inicio" label="KmFinal">
        <input
          type="number"
          class="form-control"
          formControlName="kmFinal"
          placeholder="Km Final"
          autocomplete="off"
          [readonly]="situacao == 'Novo' || situacao == 'Aberto'"
        />
      </madv-input-container>
    </form>
    <div>
      <button
        (click)="salvarKm(kmForm.value)"
        class="btn btn-success pull-center"
        [disabled]="!kmForm.valid"
        *ngIf="situacao === 'Novo'"
      >
        <i class="fa fa-check-circle"></i>Salvar
      </button>
      <button
        (click)="salvarEdicao(kmForm.value)"
        class="btn btn-success pull-center"
        [disabled]="!kmForm.valid"
        *ngIf="situacao === 'Aberto'"
      >
        <i class="fa fa-check-circle"></i>Salvar Edicao
      </button>
      <button
        (click)="salvarEdicao(kmForm.value)"
        class="btn btn-success pull-center"
        [disabled]="!kmForm.valid"
        *ngIf="situacao === 'Fechado'"
      >
        <i class="fa fa-check-square"></i>Finalizar
      </button>
    </div>
  </div>
  <div>
    <madv-registro-marcacao-km
      [registros-km]="registrosKm"
      [total-km]="totalKm"
    ></madv-registro-marcacao-km>
  </div>
</section>
