<section class="content-header">
</section>

<section class="content">
  <div class="container-ocorrencia jumbotron col-xs-12 col-sm-6">
    <h2>Registro de Marcação de KMs Rodados</h2>
    <form [formGroup]="kmForm" novalidate>
      <div class="p-data">
        <label class="data-label">Data Ínicio: </label>
        <madv-input-container errorMessage="Obrigatório" label="DataInicio">
        <input type="date" class="form-control"
                formControlName="dataInicio" placeholder="Data Início" autocomplete="off">
        </madv-input-container>
      </div>
      <madv-input-container errorMessage="Obrigatório" label="KmInicio">
        <input type="number" class="form-control" 
                  formControlName="KmInicio" placeholder="Km Início" autocomplete="off">
      </madv-input-container>
      <div class="p-data">
        <label class="data-label">Data Final: </label>
        <madv-input-container errorMessage="Obrigatório" label="DataFinal">
        <input type="date" class="form-control"
                formControlName="dataFinal" placeholder="Data Final" autocomplete="off">
        </madv-input-container>
      </div>
      <madv-input-container errorMessage="Obrigatório" label="KmFinal">
        <input type="number" class="form-control" 
                  formControlName="KmFinal" placeholder="Km Final" autocomplete="off">
      </madv-input-container>
    </form>
    <div>
      <button (click)="salvarKm(despesaForm.value)" class="btn btn-success pull-center" [disabled]="!kmForm.valid"><i class="fas fa-check-circle"></i>Registrar</button>
    </div>
  </div>
  <div>
    <madv-registro-marcacao-km
    [registros-km]="registrosKm"
    [total-km]="totalKm"></madv-registro-marcacao-km>
  </div>

</section>